

.main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.task-container__container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    height: 70vh;
}

.subheader{
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.subheader__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subheader__info p{
    opacity: 0.7;
}

/* .fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
  } */

.subheader__filter{
    width: 30%;
}

.subheader__filter input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid darkgray;
    opacity: 0.7;
}


@media (max-width: 600px){

    .main{
        justify-content: center;
        align-items: center;
    }

    .task-container__container{
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .subheader{
        width: 100%;
    }

    .subheader__filter{
        width: 50%;
    }

    .subheader__filter input{
        padding: 1.2rem;
    }

}